<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.png">
    <link href="/static/css/graphic.css" rel="stylesheet">
    <title>Statistics</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou" rel="stylesheet">

<script src="/static/js/moment.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/Chart.min.js"></script>

</head>

<body>
<canvas id="myChart" width="800" height="400"></canvas>


<script type="text/javascript">

Chart.defaults.global.responsive = false;


var timeFormat = 'hh:mm:ss';
 
function newDateString(hours, minutes, seconds) {
  return moment().hour(hours).minute(minutes).second(seconds).format(timeFormat);
}

var chartData = {
labels : [{% for item in labels %}
"{{item}}",
{% endfor %}],


datasets : [{
label: '{{ legend }}',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,
data : [{% for item in values %}
{{item}},
{% endfor %}],
spanGaps: false
}   ]
}



// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");

// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'line',
  data: chartData,
  options: {
    tooltips: {
      enabled: true,
      mode: 'single',
      callbacks: {
        label: function(tooltipItems, data) {
                 return tooltipItems.yLabel + ' flags';
               }
      }
    },
  }
});

// get chart canvas
var holder = document.getElementById("myChart");

// get the text element below the chart
var pointSelected = document.getElementById("pointSelected");

// create a callback function for updating the selected index on the chart
holder.onclick = function(evt){
  var activePoint = myChart.getElementAtEvent(evt);
 pointSelected.innerHTML = 'Point selected... index: ' + activePoint[0]._index;
};


$(document).ready(function () {
var interval = {{refresh_interval}}; 
var jsno_string = ''
var Update = function(){
$.ajax({
  url: '/api/get_statistics',
  dataType: 'json',
  data: jsno_string,
  success: function(response) {
if(response['six_flags'] >= 0 && response['one_flags'] <= -1 && response['two_flags'] <= -1 && response['three_flags'] <= -1 && response['four_flags'] <= -1 && response['five_flags'] <= -1){
       var NewChartData = {
labels : [
response['six_time'],

],


datasets : [{
label: 'Flag delivery statistics',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,

data : [
response['six_flags'],
],


spanGaps: false
}   ]
} 


}
else if (response['five_flags'] >= 0 && response['one_flags'] <= -1 && response['two_flags'] <= -1 && response['three_flags'] <= -1 && response['four_flags'] <= -1 && response['six_flags'] >= 0)

{



var NewChartData = {
labels : [
response['five_time'],

response['six_time'],
],


datasets : [{
label: 'Flag delivery statistics',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,

data : [
response['five_flags'],

response['six_flags'],

],


spanGaps: false
}   ]
} 



}
else if(response['five_flags'] >= 0 && response['one_flags'] == -1 && response['two_flags'] == -1 && response['three_flags'] == -1 && response['four_flags'] >= 0 && response['six_flags'] >= 0)
{



var NewChartData = {
labels : [
response['four_time'],

response['five_time'],

response['six_time'],

],


datasets : [{
label: 'Flag delivery statistics',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,

data : [
response['four_flags'],

response['five_flags'],

response['six_flags'],

],


spanGaps: false
}   ]
} 



}
else if (response['five_flags'] >= 0 && response['one_flags'] <= -1 && response['two_flags'] <= -1 && response['three_flags'] >= 0 && response['four_flags'] >= 0 && response['six_flags'] >= 0)
{



var NewChartData = {
labels : [
response['three_time'],

response['four_time'],

response['five_time'],

response['six_time'],

],


datasets : [{
label: 'Flag delivery statistics',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,

data : [
response['three_flags'],

response['four_flags'],

response['five_flags'],

response['six_flags'],

],


spanGaps: false
}   ]
} 



}
else if(response['five_flags'] >= 0 && response['one_flags'] <= -1 && response['two_flags'] >= 0 && response['three_flags'] >= 0 && response['four_flags'] >= 0 && response['six_flags'] >= 0)
{



var NewChartData = {
labels : [
response['two_time'],

response['three_time'],

response['four_time'],

response['five_time'],

response['six_time'],

],


datasets : [{
label: 'Flag delivery statistics',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,

data : [

response['two_flags'],

response['three_flags'],

response['four_flags'],

response['five_flags'],

response['six_flags'],

],


spanGaps: false
}   ]
} 



}


else
{




var NewChartData = {
labels : [
response['one_time'],

response['two_time'],

response['three_time'],

response['four_time'],

response['five_time'],

response['six_time'],

],



datasets : [{
label: 'Flag delivery statistics',
fill: true,
lineTension: 0.1,
backgroundColor: "rgba(75,192,192,0.4)",
borderColor: "rgba(75,192,192,1)",
borderCapStyle: 'butt',
borderDash: [],
borderDashOffset: 0.0,
borderJoinStyle: 'miter',
pointBorderColor: "rgba(75,192,192,1)",
pointBackgroundColor: "#fff",
pointBorderWidth: 1,
pointHoverRadius: 5,
pointHoverBackgroundColor: "rgba(75,192,192,1)",
pointHoverBorderColor: "rgba(220,220,220,1)",
pointHoverBorderWidth: 2,
pointRadius: 1,
pointHitRadius: 10,

data : [
response['one_flags'],

response['two_flags'],

response['three_flags'],

response['four_flags'],

response['five_flags'],

response['six_flags'],

],


spanGaps: false
}   ]
} 


}
    

myChart.data.datasets = NewChartData.datasets;
myChart.data.labels = NewChartData.labels;
myChart.update();
setTimeout(function() {
                    Update();
                }, interval);

  },
  error: function(error) {
    console.log(error);
  }


});

};

Update();
});

</script>


</body>
</html>
